@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, code, label, input, textarea, button, a, strong {
    font-family: Roboto, sans-serif;
    color: #434343;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 14px;
}

.form-control {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 12px;
    height: 45px;
    font-size: 14px;
    width: 100%;
}

.form-control::placeholder {
    color: #c9c9c9;
}

.button {
    border: 1px solid #ccc;
    background-color: #ccc;
    min-height: 45px;
    padding: 0 17px;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
    border-radius: 4px;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    filter: brightness(94%);
}

.button-red {
    background-color: #E02041;
    border-color: #E02041;
    color: #FFF;
    transition: filter 200ms;
}

.button-green {
    background-color: #30bd43;
    border-color: #20e03a;
    color: #FFF;
    transition: filter 200ms;
}

.link-icon {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 200ms;
    width: max-content;
}

.link-icon svg {
    margin-right: 5px;
}

.link-icon:hover {
    opacity: 0.9;
}

.form-group {
    display: flex;
}

.form-group .form-control + .form-control {
    margin-left: 5px;
}